<div class="login">
  <h2>Iniciar Sesión</h2>

  <form [formGroup]="userForm">
  <div>
      <label class="form-label" for="email">Email:</label>
      <input class="form-control" type="text" id="email" placeholder="Introduce un email:" formControlName="email">
      @if(checkControl("email", "email")) {
      <p class="text-danger">Introduce un email válido</p>
      }
  </div>
  <div>
      <label class="form-label" for="password">Contraseña:</label>
      <input class="form-control" type="text" id="password" placeholder="Introduce un apellido:" formControlName="password">

      @if(checkControl("password", "required")) {
      <p class="text-danger">Campo requerido</p>
      }
      @if(checkControl("password", "minlength")){
      <p class="text-danger">Introduce al menos 8 caracteres</p>
      }
  </div>
  <pre [innerText]="result"></pre>
  <button (click)="login()">Iniciar Sesión</button>
  </form>
</div>
