<div class="login">
  <h2>Iniciar Sesión</h2>

  <form [formGroup]="userForm">
  <div>
      <label class="form-label" for="email">Email:</label>
      <input class="form-control" type="text" id="email" placeholder="Introduce un email:" formControlName="email">
      @if(checkControl("email", "email")) {
      <p class="text-danger">Introduce un email válido</p>
      }
  </div>
  <div>
      <label class="form-label" for="password">Contraseña:</label>
      <input class="form-control" type="text" id="password" placeholder="Introduce un apellido:" formControlName="password">

      @if(checkControl("password", "required")) {
      <p class="text-danger">Campo requerido</p>
      }
      @if(checkControl("password", "minlength")){
      <p class="text-danger">Introduce al menos 8 caracteres</p>
      }
  </div>
  <pre [innerText]="result"></pre>
  <button (click)="login()">Iniciar Sesión</button>
  </form>

  <form [formGroup]="searchForm">
  <div>
      <label class="form-label" for="filtro1">filtro1:</label>
      <input class="form-control" type="text" id="filtro1" placeholder="Introduce un filtro1:" formControlName="filtro1">
      @if(checkControl("filtro1", "filtro2")) {
      <p class="text-danger">Introduce un filtro1 válido</p>
      }
  </div>
  <div>
      <label class="form-label" for="filtro2">filtro2:</label>
      <input class="form-control" type="text" id="filtro2" placeholder="Introduce un apellido:" formControlName="filtro2">

      @if(checkControl("filtro2", "required")) {
      <p class="text-danger">Campo requerido</p>
      }
      @if(checkControl("filtro2", "minlength")){
      <p class="text-danger">Introduce al menos 8 caracteres</p>
      }
  </div>
  <pre [innerText]="result_search"></pre>
  <button (click)="search()">Buscar</button>
  </form>
</div>
