<div class="card-container d-flex w-100 p-4 gap-3">
  @if (teacher.user.avatar !== null) {
    <figure class="h-100"><img [src]="'http://localhost:3000/uploads/avatars/' + teacher.user.avatar" alt="" width="100"></figure>
  } @else {
    <figure class="h-100"><img src="user-icon.png" alt="" width="100"></figure>
  }

  <div class="d-flex flex-column w-75">
    <h4>{{teacher.user.name + " " + teacher.user.surname}}</h4>
    <div class="d-flex gap-4">
      @for (knowledge of teacher.knowledges; track $index) {
        <div class="d-flex gap-2 align">
          <i class="fa-solid fa-code"></i>
          <p >{{knowledge.name}}</p>
        </div>
      }
    </div>
  <p>{{teacher.description}}</p>
  </div>
  <div class="d-flex flex-column">
    <div class="d-flex w-100 flex-grow-1 ratingprice">
      <div class="d-flex gap-2 align">
        <p >{{teacher.rating}}</p>
        <i class="fa-solid fa-star"></i>
      </div>
      <div class="d-flex gap-2 align">
        <p >{{teacher.price_p_hour}}</p>
        <i class="fa-solid fa-euro"></i>
      </div>
    </div>
    <button class="book align-bottom" [routerLink]="['/teacher', teacher.id]">Reservar clase</button>
  </div>
</div>
