<div class="card-container d-flex w-100 p-3 gap-3">
  <figure class="h-100"><img src="https://placehold.co/100x100" alt=""></figure>
  <div class="d-flex flex-column">
    <h4>{{teacher.user.name + " " + teacher.user.surname}}</h4>
    <div class="d-flex gap-4">
      @for (knowledge of teacher.knowledges; track $index) {
        <div class="d-flex align-items-center gap-2">
          <i class="fa-brands fa-python"></i>
          <p>{{knowledge.name}}</p>
        </div>
      }
    </div>
    <p>{{teacher.description}}</p>
  </div>
  <div>
    <div>
      <div>

      </div>
      <div>

      </div>
    </div>
    <button>Reservar clase</button>
  </div>
</div>
