<div class="container" [hidden]="hiddenTeacher">
  <h2>Rellena los campos y convierte te en profesor</h2>

<form [formGroup]="regTeacherForm" class="card p3 w-75 shadow" (ngSubmit)="getDataForm()" novalidate>
  <div class="my-2">
    <label for="description" class="form-label">Descripcion</label>
    <input type="text" class="form-control" formControlName="description" id="description">
    @if(checkControl('description','required')){
      <p class="text-danger" >el campo es requerido</p>

  }

  </div>

<div>
  <label for="schedule" class="form-label">Disponibilidad</label>
  <select name="schedule" formControlName="schedule" class="form-select" aria-label="Default select example"
   (ngModelChange)="selectChanged()">
    <option value="Mornig">Mañana</option>
    <option value="Afternoon">Tarde</option>
    <option value="Night">Noche</option>

  </select>
  @if(checkControl('schedule','required')){
    <p class="text-danger" >el campo es requerido</p>

}

</div>
  <div class="my-2">
    <label for="price" class="form-label">Precio</label>
    <input type="number" class="form-control" formControlName="price" id="price">
    @if(checkControl('price','required')){
      <p class="text-danger" >el campo es requerido</p>

  }

  </div>
  <div class="my-2">
    <label for="experience" class="form-label">Experiencia</label>
    <textarea class="form-control" formControlName="experience" id="experience" rows="3"></textarea>
    <!-- <input type="text" class="form-control" formControlName="experience" id="experience" rows="3"> -->
    @if(checkControl('experience','required')){
      <p class="text-danger" >el campo es requerido</p>

  }

  </div>

  <input type="submit" class="w-25  btn btn-danger" value="Enviar" [disabled]="!regTeacherForm.valid" >

</form>

</div>
<div class="container" [hidden]="hiddenKnoledge">
  <h3>Añade conocimientos</h3>
  <app-teacher-knowledges></app-teacher-knowledges>
</div>
